[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/shawgerj/rocksdb.git
	branch = failwrite

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/shawgerj/titan.git
	branch = shawgerj
